@charset "EUC-KR";

#eventTable1 {
	text-align:center; border: 1px; width:100px; height:100px;
	
}

#eventTable1 td {
	text-align:center;
}

/* #eventTable1 img:hover {
	cursor:pointer;
} */

#eventTable1 button{
	padding: 0;
	border: none;
	background: none;
}

#eventTable1 button:hover{
	cursor:pointer;
}
